.animaux {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap : 20px;
    margin-top: 30px;
}

.animal-container {
    position: relative;  
}

.animal-image {
    z-index: 1;
    position: absolute;
    width: 150px;
    height: 200px;
    padding-top: 50px;
    padding-right: 40px;
    border: solid;
    opacity: 1;
    background-color: rgb(87, 67, 25);
}

.animal-image img {
    width: 150px;
}

.animal-infos {
    width: 150px;
    height: 200px;
    padding: 20px;
    text-align: center;
    padding-bottom: 30px;  
}

.animal-infos p {
    color: black;
}

.animal-image:hover {
    z-index: 1;
    width: 150px;
    height: 200px;
    z-index: 0;
    padding-top: 50px;
    padding-right: 40px;
    opacity: 0.2;
}
