@font-face {
    font-family: 'Woodcutter';
    src: url('/polices/Woodcutter noise.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

html {
    font-family: 'Woodcutter', serif;
}

h1 {
    font-size: 3em;
    text-align: center;
}

p, a {
    font-size: 1.3em;
    color: rgb(19, 77, 104);
}

img {
    max-width: 100%;
    height: auto;
  }

button {
    background-color: rgba(56, 158, 206, 0.829);
    color: aliceblue;
    border-radius: 10%;
    font-size: 1.1em;
    padding: 1.5%;
    border: none;
    text-align: center;
}

button:hover {
    background-color: rgb(141, 83, 56);
}

.accueil {
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 7%;  
}

body {
    background-color: rgb(96, 124, 54);
    background-size: cover;  
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(160, 224, 118, 0.5);
    color: rgb(102, 68, 24);
    
}

.menu p, .menu a {
    border-image: url(images/CadreBois.png) 80 / 100px round;
    border-color: rgb(96, 124, 54);
    border-radius: 5%;
    padding: 1%;
    color: rgb(45, 59, 22);
}

.menu p:hover, .menu a:hover {
    background-color: rgb(96, 124, 54);
    color: rgba(195, 255, 127, 0.63);;
}
