@font-face {
    font-family: 'Woodcutter';
    src: url('/polices/Woodcutter noise.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  

html {
    font-family: 'Woodcutter', serif;
}

h1 {
    font-size: 2em;
    text-align: center;
}

p {
    font-size: 1.3em;
    color: rgb(19, 77, 104);
}

.formNameFarm {
    background-color: rgba(138, 128, 85, 0.651);
    border-radius: 15%;
    margin-top: 2%;
    padding: 1%;
    border: solid;   
}

button {
    background-color: rgba(56, 158, 206, 0.829);
    color: aliceblue;
    border-radius: 10%;
    font-size: 1.1em;
    padding: 1.5%;
    border: none;
    text-align: center;
}

button:hover {
    background-color: rgb(141, 83, 56);
}

.accueil {
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 7%;  
}

body {
    background-color: rgb(96, 124, 54);
    background-size: cover;  
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(195, 255, 127, 0.5);
}

.menu p {
    border: solid;
    border-color: rgb(96, 124, 54);
    border-radius: 5%;
    padding: 0.5%;
    color: rgb(45, 59, 22);
}

.menu p:hover {
    background-color: rgb(96, 124, 54);
    color: rgba(195, 255, 127, 0.63);;
}

.fichesAnimaux {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

newAnimal {
    color: rgb(17, 61, 19);
    background-color: rgb(225, 226, 176);
    margin: 5%;
    padding: 2%;
    border-radius: 5%;
    text-align: center;
    border: 30px solid transparent;
    border-image-source: url("images/bois.webp");
    border-image-slice: 150; /*définir combien de pixels de l'image sont "découpés" pour former les bords*/
    border-image-repeat: round; /* La valeur round va répéter l'image tout en la redimensionnant si besoin pour éviter des coupures*/
}

typeAnimal {  
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    color : rgb(35, 97, 126);
}

.accrocheMarché {
    text-align: center;
    font-size: 1.5em;
    color: aliceblue;
}

